.BottomDrawer {
  position: fixed;
      width: 100%;
      max-width: 100%;
      height: 50%;
      left: 0;
      bottom: 0;
      z-index: 200;

  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  overflow-x: hidden;
  overflow-y: scroll;
  touch-action: pan-y;

}

@media (min-width:500px) {
  .BottomDrawer {
    display: none;
  }
}

.Open {
  transform:  translateY(0);
}

.Close {
  transform: translateY(100%);
}


